/* css部分，对网页进行规范化格式 */
/* 定义全局页面 */
*{
    margin: 0;
    padding: 0;
}
/* body部分字体大小 */
body{
    font-size: 16px;
}
li{
    list-style: none;
}
/* 图片1的格式 */
.picture_1{
    width: 100%;
    text-align: center;
    margin: 20px 0 50px 0;
}
/* 图片1下面标题h4的格式 */
.picture_1 h4{
    font-size: 35px;
    margin-top: 20px 0 5px 0;
}
.nav{
    width: 100%;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
/* 使用flex弹性布局 */
.nav>ul{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
/* 使用'>'对所有该类型定义 */
.nav>ul>li{
    position: relative;
    margin: 0 20px;
}
.nav ul li a{
    color: #333;
    text-decoration: none;
}
.nav ul li a:hover{
    color:burlywood;

}
.nav ul li ul{
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    background: #f2f2f2;
    padding: 10px;
    width: 80px;
}
.nav ul li li{
    margin: 5px 0 ;
}
.nav>ul>li:hover ul{
    display: block;
}
/* 对banner类格式化 */
.banner{
    width: 620px;
    margin: 20px auto;
}
.banner img{
    width:100%
}
/* about类格式化 */
.about{
    width: 620px;
    margin: auto;
}
.about h3{
    display: flex;
    align-items: center;
    color:burlywood;
    font-size: 24px;
}
.about p{
    line-height: 1.8;
    margin: 20px 0;
}
/* 表格格式化 */
table {
    margin-left:      30px;
    margin-right:     30px;
    border:           thin solid black;
    caption-side:     bottom;
    border-collapse:  collapse;
    display: flex;
    align-items: center;
}
/* 表格内容格式化 */
table table th {
    background-color: white;
}
td, th {
    border:           thin dotted gray;
    padding:          50px;
}
th {
    background-color:burlywood;
}
/* 对表单格式化 */
/* 不同的类的格式化 */
.myform{
    margin-top: 50px;
}
.inp-box{
    width: 100%;
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.inp{
    flex:1;
    height: 40px;
    text-indent: 10px;
    border: 1px solid #f2f2f2;
    font-size: 20px;
    margin: 0 20px;
}
.msg{
    flex:1;
    margin: 0 20px;
    border: 1px solid #f2f2f2;
    font-size: 20px;
    text-indent: 10px;
    line-height: 40px;
    padding: 10px 0;
    min-height: 100px;
}
/* 提交按钮格式化 */
.but{
    margin: 20px;
    width: 150px;
    height: 42px;
    line-height: 42px;
    border: none;
    color: #cccccc;
    text-align: center;
    background: burlywood;
    cursor: pointer;
    font-size: 20px;
}
.but:hover{
    opacity: 0.8;
} 
  